html, body, .app-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.container {
    height: 100%;
    display: flex;
    flex-direction: column;
}
.container > * {
    flex-grow: 0;
    flex-shrink: 0;
}

.loading-banner {
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin-top: -15px;
    position: relative;
    top: 50%;
}

.hide-xs,
.hide-sm,
.hide-md,
.hide-lg,
.hide-xl {
    display: initial;
}

.show-xs,
.show-sm,
.show-md,
.show-lg,
.show-xl {
    display: none;
}

/* Extra small devices (portrait phones, 576px and up) */
@media (max-width: 575px) {
    .hide-xs { display: none; }
    .show-xs { display: initial; }
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .hide-sm { display: none; }
    .show-sm { display: initial; }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .hide-md { display: none; }
    .show-md { display: initial; }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .hide-lg { display: none; }
    .show-lg { display: initial; }
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .hide-xl { display: none; }
    .show-xl { display: initial; }
}

.horizontal-line {
    height: 1px;
    width: 100%;
    background-color: #cccccc;
}
.grid-row {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    white-space: nowrap;
    box-sizing: border-box;
}
/* .grid-row:first-child { border-top: none; } */
.grid-col {
    flex-grow: 1;
    flex-shrink: 1;
    display: inline-block;
    vertical-align: top;
    white-space: normal;
    box-sizing: border-box;
    border-left: 1px #cccccc solid;
}
.grid-col:first-child { border-left: none; }

.input-group {
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.input-group label {
    height: 100%;
    font-weight: bold;
    line-height: 40px;
    padding: 0 10px;
    flex-grow: 0;
    flex-shrink: 0;
    margin: 0;
}
.fake-input {
    color: #999;
}
.fake-input,
.input-group input[type="text"],
.input-group input[type="number"],
.input-group input[type="tel"] {
    box-sizing: border-box;
    height: 100%;
    padding: 5px;
    line-height: 30px;
    flex-grow: 1;
    flex-shrink: 1;
    border: none;
    margin: 0;
    min-width: 0;
}
.input-group input[type="text"]:focus,
.input-group input[type="number"]:focus,
.input-group input[type="tel"]:focus {
    outline: none;
}
.input-group .btn {
    padding-top: 0;
    padding-bottom: 0;
    line-height: 28px;
}

.btn:focus,
.btn-primary:focus,
.btn-secondary:focus,
.btn-success:focus,
.btn-danger:focus,
.btn-warning:focus,
.btn-info:focus,
.btn-light:focus,
.btn-dark:focus {
    box-shadow: none;
    outline: none;
}

.btn-fullfill {
    display: block;
    width: 100%;
    height: 100%;
}


.message-list-box {
    flex-grow: 1;
    flex-shrink: 1;
    overflow: scroll;
    overflow-x: hidden;
}
.message-list {
    margin: 0 10px;
}
.message-item {
    padding: 5px 0;
}
.message-item.template {
    display: none;
}
.message-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: relative;
    margin: 5px 0;
}
.message-row.left {
    justify-content: flex-start;
}
.message-row.right {
    justify-content: flex-end;
}
.message-sender {
    font-size: 10px;
    color: #999;
    line-height: 14px;
    white-space: nowrap;
}
.message-bubble-arrow {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-width: 5px;
    border-style: solid;
    border-color: transparent;
    top: 15px;
}
.message-row.left .message-bubble-arrow {
    border-right-color: #007bff;
    left: -5px;
}
.message-row.right .message-bubble-arrow {
    border-left-color: #28a745;
    right: -5px;
}
.message-bubble {
    position: relative;
    max-width: 400px;
    padding: 10px;
    line-height: 1.35;
    margin: 0 5px;
    border-radius: 8px;
    color: white;
    cursor: pointer;
}
.message-bubble.text {
    cursor: initial;
}
.message-row.left .message-bubble,

.message-row.right .message-bubble::selection {
    background-color: #007bff;
}
.message-row.left .message-bubble:hover {
    background-color: #0069d9;
}
.message-row.right .message-bubble,
.message-row.left .message-bubble::selection {
    background-color: #28a745;
}
.message-row.right .message-bubble:hover {
    background-color: #218838;
}
.message-row.left .message-bubble::selection,
.message-row.right .message-bubble::selection {
    background-color: #6c757d;
}

.message-bubble-file {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.message-bubble-file .icon {
    flex-shrink: 0;
    flex-grow: 0;
    display: block;
    width: 30px;
    height: 30px;
    margin-right: 5px;
    background-image: url("/static/icon-file-white.png");
    background-size: 100% auto;
    background-position: center center;
    background-repeat: no-repeat;
}
.message-bubble-file .filename {
    display: block;
    height: 30px;
    line-height: 30px;
    white-space: nowrap;
    flex-shrink: 1;
    flex-grow: 1;
    text-overflow: ellipsis;
}

.edit-box {
    height: 20%;
    display: flex;
    flex-direction: column;
}
.edit-box.activated {
    min-height: 240px;
}
.edit-box > * {
    flex-grow: 0;
    flex-shrink: 0;
}
.edit-toolbar {
    height: 30px;
}
.edit-toolbar .edit-toolitem {
    display: inline-block;
    height: 30px;
    width: 30px;
    padding: 3px;
    cursor: pointer;
}
.edit-toolbar .edit-toolitem img {
    width: 100%;
    height: 100%;
}
.edit-toolbar .edit-toolitem:hover,
.edit-toolbar .edit-toolitem:active {
    background-color: #dddddd;
}
.edit-toolbar .edit-toolitem,
.edit-toolbar .edit-toolitem:link,
.edit-toolbar .edit-toolitem:visited,
.edit-toolbar .edit-toolitem:hover,
.edit-toolbar .edit-toolitem:active {
    color: black;
}

.edit-input {
    flex-grow: 1;
    flex-shrink: 1;
    overflow: scroll;
    overflow-x: hidden;
}
textarea.edit-input {
    border: none;
}
textarea.edit-input:focus {
    outline: none;
}
.edit-footbar {
    padding: 5px;
    text-align: right;
}
